body {
  background-image: radial-gradient(circle,  rgb(99, 77, 77),rgb(73, 31, 31) );
  font-family: 'Abril Fatface', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
